 .u-section-1 {
  min-height: 349px;
}

.u-body {
  background-color: antiquewhite; /* Replace with your desired color code */
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/kitchen.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  font-size: 1.375rem;
  margin: 64px 0 -89px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 50px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 100%;
  margin: 10px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-6 {
  padding: 19px 30px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-7 {
  padding: 22px 30px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 7px auto 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-8 {
  padding: 21px 30px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 9px auto 0;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-image-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4235px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1626px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 1626px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2810px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1024px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 1024px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 719px;
}

.u-section-2 .u-text-1 {
  margin: 77px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 59px;
}

.u-section-2 .u-repeater-1 {
  min-height: 510px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-image-1 {
    height: 236px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 236px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 236px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 236px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 52px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 355px;
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-image-1 {
    height: 279px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
  }

  .u-section-2 .u-image-3 {
    height: 279px;
  }

  .u-section-2 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 59px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-2 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-3 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 47px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 330px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 330px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 330px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 330px;
  }
}

/* Styles for the popup container */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Set a high z-index value to ensure it's on top of other content */
}

.popup-change-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black; /* Text color is set to black */
}

label {
  display: block;
  margin-top: 10px;
  color: black; /* Text color is set to black */
}

/* Styles for the popup content */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Styles for the "Confirm" button */
.confirm-delete-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.confirm-delete-button:hover {
  background-color: #3a2a50;
}


/* Styles for input fields and "Confirm" button */
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.confirm-change-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

#confirm-change-button:hover {
  background-color: #0056b3;
}

h2_changepwd {
  color: black; /* Header text color is set to black */
  margin-top: 0;
}
