body {
  margin: 0;
}

.u-body {
  background-color: antiquewhite; /* Replace with your desired color code */
}

.u-container-layout {
  background-color: rgb(253, 247, 238); /* Replace with your desired color code */

}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 357px;
  width: 1140px;
  height: auto;
  margin: 51px -34px 0 auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 25px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-2 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 34px;
}

.u-section-1 .u-text-4 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-table-2 {
    height: 148px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-2 {
    margin-top: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 176px;
  }

  .u-section-1 .u-table-2 {
    margin-top: 110px;
  }
}

footer {
  background-color: burlywood;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva,
  Verdana, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
}

.footer-content .footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-content h3 {
  margin-top: 0;
  
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li a {
  color: white;
  text-decoration: none;
  
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding-top: 20px;
}
.contact {
  height: 100%;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content .footer-section {
    margin-bottom: 20px;
  }
}