
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid white;
  box-shadow: 0 0 0 1px white;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  background-color: white;
  color: white;
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F9C784; /* Setting a background color */
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    filter: none;
}

.title {
    font-weight: bold;
    color: #ffffff;
}

header {
    background-image: url(./img/fp-fp-6661.jpg);
}


/* Styles for the search bar */
.search-container {
    display: flex;
    max-width: 400px; /* Adjust the width of the search bar container */
    margin: 0 auto; /* Center the search bar */
    padding-bottom: 2%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
    outline: none;
}

input[type="text"]:focus {
    border-color: #ff7043; /* Change the border color on focus */
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #ff7043; /* Background color of the search button */
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #e65a2e; /* Change the background color on hover */
}

.search-form {
    margin-bottom: 20px;
}

.filter-buttons button {
    margin: 0 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff7043;
    color: #fff;
    cursor: pointer;
}

.time-filter-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Main Styles */
main {
    padding: 20px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Aligns recipes in the center */
    
}

.recipe {
    width: 300px;
    margin: 10px;
    color: white;
    border: 5px solid rgba(8, 3, 3, 0.5);
    padding: 10;
    border-radius: 5px;
    background-color: rgba(48, 46, 46, 0.5);
}

.recipe img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe-details {
    text-align: left;
}

.favorite-btn {
    border: none;
    background: none;
    cursor: pointer;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1;
}

.popup-content {
    background-color: #D8C99B; 
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 60%;
}

.time-options {
    margin: 0 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff7043;
    color: #fff;
    cursor: pointer;
}

.close {
    float: right;
    cursor: pointer;
}
.rating {
    display: inline-block;
}

.stars1::before {
    font-size: 30px;
    content: "★★★★";
    letter-spacing: 5px;
    color: #ffcc00; /* Default color for empty stars */
}

.stars2::before {
    font-size: 30px;
    content: "★★★★★";
    letter-spacing: 5px;
    color: #ffcc00; /* Default color for empty stars */
}

.stars3::before {
    font-size: 30px;
    content: "★★★★";
    letter-spacing: 5px;
    color: #ffcc00; /* Default color for empty stars */
}

.text-block__container {
    text-align: center;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    background-color: rgba(228, 149, 97, 0.2);
    border-radius: 1%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
